$red: #dc3e22;
$dark-red: #b7280f;
$red-light: #ea8a79;
$text-color: #333333;
$light-green: #a8b64f;
$dark-green: #899441;
$white: #fff;
$gray: #999999;
$gray-light: #c4c4c4;
$gray-light-f1: #f4f4f4;

$blue: #c5f1ff;
$purple: #dfdcfe;
$orange: #ffdda9;
